.campus--greeting {
    font-family: 'Gilroy-Medium';
    font-weight: 600;
    color: #4527a0;
    font-size: 1.2rem;
    justify-content: center;
    display: flex;
}

.greeting-daytime {
    height: 28px;
    width: 28px;
    margin-left: .5rem;
}

.NewPost--card {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 2px 6px 2px rgba(60, 64, 67, .15) !important;
    border-radius: 0.5rem;

    & .v-avatar {
        align-self: center;
    }
}


.NewPost--card .footer-btns {
    align-items: center;
    display: flex;
    margin-left: 1.5em;
}

.NewPost--btn {
    text-transform: none !important;
    background-color: white;
    margin: 4px 4px;
    font-family: var(--mieducacion-theme-font) !important;
    font-weight: 700!important;
}

.post-card {
    border-radius: 0.5rem !important;
}

.post-metadata {

   & .author.name {
    font-family: var(--mieducacion-theme-font);
    font-weight: 600;
    font-size: var(--font-down-2);
    color: #3c4043;
}

   & .post.posted-at {
    letter-spacing: .025em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--font-down-4);
    font-weight: 500;
    line-height: 1rem;
    color: #5f6368 !important;
   }
}

.post-comment {
    align-items: end;

    &.v-text-field--outlined fieldset {
        border: 0.0625rem solid #e0e0e0;
    }

    &.v-text-field--outlined fieldset:focus-within {
        border-color: var(--mieducacion-primary);
    }
}

@media (max-width: 600px) {

    .NewPost--btn {
        margin: 0.1rem;
    }
    .NewPost--card .footer-btns {
        align-items: start;
        display: block;
        margin-left: .5em;
    }

    .NewPost--card .avatar {
        height: 40px;
        width: 40px;
    }
    }