
.courses-discover {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

.courses-container {
    background-color: #fff;
    max-width: 1150px !important;
    border-radius: 0;
    padding: 2em 2em 5% !important;
    padding-bottom: 0 !important;
}

.courses-container {
    & .title {
        font-family: var(--mieducacion-theme-font) !important;
        font-weight: 700;
        font-size: 1.3rem;
        color: #222;
        margin: 0 auto;
    }
}

.courses--no-data {

    & .illustration {
        height: 300px;
        width: auto;
    }

    & .title {
        max-width: 320px;
        font-family: var(--mieducacion-theme-font) !important;
        font-weight: 500;
        font-size: 1.2rem;
        color: #444;
    }
}

  #create-course.extended-fab {
      font-family: var(--mieducacion-theme-font);
      font-weight: 500;
      background-color: var(--mieducacion-primary) !important;
      text-transform: none;
      z-index:100; 
      border-radius: 12px;
      @apply px-6 py-4 shadow-lg fixed bottom-10 right-4 text-white flex items-center;

      & .icon {
        @apply mr-2
      }
  }

  #create-course.extended-fab.mobile {
    bottom:72px;
  }

  .course-card {
      cursor: pointer;

      & .course-name {
          font-family: var(--mieducacion-theme-font);
          font-weight: 600;
          font-size: var(--font-up-1);
      }
  }
  
  @media screen and (max-width: 600px) {
    .courses-container {
        padding: .5em .5em 5% !important;
        margin-bottom: 1rem;
    }
      
  }