#global-alerts {
    @apply mt-8
}

.global-notice {
    max-width: 1150px !important;
    border-radius: 0;
    @apply px-4 py-4 bg-white mx-auto mt-4
}

.global-notice a {
    @apply text-blue-500
}

#site-banner {
    background-color: var(--mieducacion-banner-background);
    border-radius: 0;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;

    & p {
        margin: 0;
    }
}

#site-banner .v-alert__icon {
    transform: rotate(320deg);
}