#site-header {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 1000;
  backface-visibility: hidden;
  left: 0;
  height: 4em;
  background-color: #FFFFFF;
}

.site-header-wrap {
  max-width: 1110px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: 3.66em;
  padding: 0 10px;
}


.header-user-panel--nav {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  margin-left: auto;
  align-items: center;
}

.site-navigation--nav {
  position: relative;
  height: 100%;
  flex: 0 0 auto;
  align-items: center;
  margin-left: 1.5rem;
  @apply hidden sm:flex
}

.site-nav--btn {
  text-transform: none !important;
  color: #333 !important;
  font-family: 'Lato';
  font-weight: 600 !important;
  margin: 0 4px;
  @apply px-4 py-2 hover:bg-gray-100;
}

.site-nav--btn .icon {
  @apply mr-2
}

#current-user {
  @apply rounded-full border-4 bg-blue-50 border-blue-100 hover:border-blue-200 transition-all

}

.user-menu-items {
  @apply absolute right-0 mt-2 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none list-none
}

.user-menu-items .menu-item {
    @apply px-4 py-2 w-full hover:text-white flex text-left items-center; 
}

.user-menu-items .menu-item .icon {
    @apply mr-2;
}


#logout-button {
    @apply hover:bg-red-600 hover:text-white
}


#current-user .avatar {
  height: 32px;
  width: 32px;
  @apply rounded-full
}