.mieducacion-login-required-image {
    max-height: 400px;
    width: 100%;
    object-fit: contain;
}

.login-required--welcome {
    font-family: 'Lato', 'Jost';
    font-weight: 700;
    color: #222;
}

.login-required--subtitle {
    font-family: 'Lato';
    max-width: 500px;
    color: #555;
    margin: auto;
    margin-bottom: 1rem;
}

.login-required {
    background-color: #fff;
  }