@import 'home';
@import 'courses';
@import 'campus';
@import 'errors';
@import 'users';
@import "materialdesignicons";
@import 'vuetify/dist/vuetify.min.css';


#site-header {
    border-bottom: 1px #ddd solid !important;
}

.site-header-wrap {
    max-width: 1110px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.header-user-panel--nav {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    margin-left: auto;
    align-items: center;
}

.site-navigation--nav {
    position: relative;
    height: 100%;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    margin-left: 1.5rem;
}

.site-nav--btn {
    text-transform: none !important;
    color: #333 !important;
    font-family: 'Lato';
    font-weight: 600 !important;
    margin: 0 4px;
}

.homepage-user--card .UserCard--link {
    text-transform: none !important;
    font-family: 'Lato';
    font-weight: 500;
}



#site-homepage {
    width: 100%;
    padding-right: 6px;
    padding-left: 6px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

#site-courses {
    width: 100%;
    padding-right: 6px;
    padding-left: 6px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

#mieducacion {
    background-repeat: repeat;
    background-attachment: fixed;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1010%26quot%3b)' fill='none'%3e%3cpath d='M1405.84 103.24L1437.55 103.24L1437.55 113.6L1405.84 113.6z' stroke='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M1344.28 227.59L1354.85 227.59L1354.85 234.24L1344.28 234.24z' stroke='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M30.92 66.3L68.45 66.3L68.45 103.83L30.92 103.83z' fill='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M611.54 431.23L659.01 431.23L659.01 478.7L611.54 478.7z' fill='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M1149.19 460.77L1188.81 460.77L1188.81 500.62L1149.19 500.62z' fill='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M65.42 496.31L88.51 496.31L88.51 519.4L65.42 519.4z' stroke='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M201.09 270.5 a33.66 33.66 0 1 0 67.32 0 a33.66 33.66 0 1 0 -67.32 0z' stroke='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M792.01 45.77L830.76 45.77L830.76 84.52L792.01 84.52z' fill='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M991.74 90.9a38.03 38.03 0 1 0 73.24-20.5z' stroke='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M1135.03 463.2 a26.67 26.67 0 1 0 53.34 0 a26.67 26.67 0 1 0 -53.34 0z' fill='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M1336.24 286.07a15.43 15.43 0 1 0 30.25-6.1z' stroke='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M115.13 36.27L164.56 36.27L164.56 82.08L115.13 82.08z' stroke='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M337.67 4.69L344.06 4.69L344.06 11.08L337.67 11.08z' fill='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M99.47 5.9 a13.83 13.83 0 1 0 27.66 0 a13.83 13.83 0 1 0 -27.66 0z' stroke='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M1325.62 528.31L1374.72 528.31L1374.72 538.69L1325.62 538.69z' stroke='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M174.1 79.36a53.96 53.96 0 1 0 43.54-98.74z' fill='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M1016.5 164.47 a15.07 15.07 0 1 0 30.14 0 a15.07 15.07 0 1 0 -30.14 0z' stroke='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M1081.46 164.72 a32.17 32.17 0 1 0 64.34 0 a32.17 32.17 0 1 0 -64.34 0z' fill='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M814.76 524.46L854.25 524.46L854.25 563.95L814.76 563.95z' stroke='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M1233.13 19.21 a32.72 32.72 0 1 0 65.44 0 a32.72 32.72 0 1 0 -65.44 0z' stroke='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M871.37 351.55 a15.53 15.53 0 1 0 31.06 0 a15.53 15.53 0 1 0 -31.06 0z' fill='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M349.33 164.5a52.98 52.98 0 1 0 81.39-67.84z' fill='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M713.76 176.4 a51.91 51.91 0 1 0 103.82 0 a51.91 51.91 0 1 0 -103.82 0z' stroke='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M1434.23 448.89L1437.64 448.89L1437.64 452.3L1434.23 452.3z' stroke='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M891.95 288.84 a29.95 29.95 0 1 0 59.9 0 a29.95 29.95 0 1 0 -59.9 0z' fill='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M179.45 320.95 a1.74 1.74 0 1 0 3.48 0 a1.74 1.74 0 1 0 -3.48 0z' fill='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M494.59 450.33L509.95 450.33L509.95 465.69L494.59 465.69z' fill='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M510 143.36L522.64 143.36L522.64 156L510 156z' stroke='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M1081.61 16.28 a54.96 54.96 0 1 0 109.92 0 a54.96 54.96 0 1 0 -109.92 0z' fill='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M434.82 47.32L482.66 47.32L482.66 86.32L434.82 86.32z' fill='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M742.62 401.14 a48.04 48.04 0 1 0 96.08 0 a48.04 48.04 0 1 0 -96.08 0z' fill='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M1151.04 204.06L1155.2 204.06L1155.2 227.01L1151.04 227.01z' stroke='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3cpath d='M904.36 512.05L920.51 512.05L920.51 535.67L904.36 535.67z' fill='rgba(69%2c 39%2c 160%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1010'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

#main-mountpoint {
    background: rgba(243, 242, 239 , 0.95)
}

#current-user {
    border: 3px #333 solid;

}

.mieducacion-default-header--text {
    font-family: Jost;
    font-weight: 500;
    color: #333;
    font-size: 1.4rem !important;
}

.mieducacion-default-header--text span {
    color: #4527a0;
}

.mieducacion-page-not-found h1.title {
    font-size: 28px !important;
    line-height: 32px !important;
    font-family: Lato;
    font-weight: 900;
}

.mieducacion-page-not-found .subtitle {
    font-size: 22px !important;
    line-height: 26px !important;
    font-family: Lato;
    font-weight: 700;
}

.mieducacion-page-not-found {
    margin: 0 0 40px 0;
    padding-top: 2.5em;
    max-width: 420px !important;
    color: #fff;
}

.mieducacion-404-image {
    height: 180px;
}

.mieducacion.not-found-page {
    background-color: rgb(10, 42, 102) !important;
    background-image: url('https://cdn.kastatic.org/images/404/little_stars.svg');
}

.e404.return-to-home {
    font-family: Lato;
    font-weight: 600;
    text-transform: none !important;
}

.e404.report-text {
    display: block;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: rgba(255, 255, 255, 0.64) !important;
}

.e404.report-text .link {
    cursor: pointer !important;
    text-decoration: none !important;
    outline: none !important;
    color: #ffffff !important;
}

.auth--login {
    height: 100%;
    background-image: url('https://freight.cargo.site/t/original/i/c1b712099e86b84059c7c512e346c960a1d219ed7c1370deab1e03540329b973/Biblioteca-naturaleza.png');
    background-size: cover;
}


.auth--session-expired {
    height: 100%;
    background-image: url('https://freight.cargo.site/w/1250/i/95912db242ea58b692884f7e3fa4d1672759ac923b071ffe8ada6d899faba337/otono-horizontal.png');
    background-size: cover;
}

.authentication-card {
    border-radius: 0 !important;
    max-width: 1100px !important;
}

.card--expired {
    max-width: 380px !important;
}

.card--expired-header {
    background-color: #4527a0;
}

.auth--card-section-1 {
    background-color: #4527a0;
}

.auth--card-title {
    font-family: Jost;
    color: #fff;
    font-size: 23px;
    margin-top: 64px !important;
    margin-left: 48px !important;
    margin-right: 48px !important;
    font-weight: 500;
    line-height: 1.25 !important;
}

.auth--card-subtitle {
    margin-left: 48px !important;
    margin-right: 48px !important;
    font-family: Jost;
    color: #fff;
    font-size: 17px !important;
}

.auth--card-privacy {
    max-width: 380px !important;
}

.v-btn--active.no-active:not(:focus):not(:hover)::before {
    opacity: 0 !important;
}

.auth--card-privacy span {
    font-family: Jost;
    color: #fff;
    font-size: 17px !important;
}

.login-option {
    font-family: Jost;
    text-transform: none !important;
    font-weight: 500;
    color: #000 !important;
}

.form--basic-auth {
    max-width: 380px;
}

.external-auth--options {
    border-bottom: 1px #ddd solid;
}



.expired--title {
    color: #fff;
    font-family: Jost;
    font-weight: 500;
    font-size: 1.3rem;
}

.expired--text {
    font-family: Jost;
    color: #222;
    font-weight: 400;
}

.expired--btn {
    text-transform: none !important;
    font-family: Jost;
    font-weight: 600 !important;
}


#site-header .title {
    display: flex;
    align-items: center;
    height: 100%;
}

#site-header #site-logo {
    height: 1.8em;
    display: flex;
    align-items: center;
}

#site-header #site-logo {
    width: auto;
}

.homepage-classes--card {
    border-radius: 0.5rem !important;
}

.homepage-classes--card .ClassesCardTitle {
    font-family: 'Lato' !important;
    font-size: .9rem !important;
    font-weight: 600;
    color: #333;
}


.homepage-classes-empty>p>span {
    font-family: 'Lato';
    color: #444;
    font-size: 14px;
}

.homepage-user--card {
    border-radius: 0.5rem !important;
}

.homepage-user--card .UserCardTitle {
    font-family: 'Lato' !important;
    font-size: .93rem !important;
    font-weight: 600;
    color: #222;
}

.homepage-groups--card {
    border-radius: 0.5rem !important;
}

.homepage-groups--card .GroupsCardTitle {
    font-family: 'Lato' !important;
    font-size: .9rem !important;
    font-weight: 600;
    color: #333;
}


.homepage-groups-empty>p>span {
    font-family: 'Lato';
    color: #444;
    font-size: 14px;
}


.homepage-tasks--card {
    border-radius: 0.5rem !important;
    min-height: 500px !important;
    max-width: 350px!important;
}

.homepage-tasks--card .TasksTitle {
    font-family: 'Lato' !important;
    font-size: .9rem !important;
    font-weight: 600;
    color: #333;
}

.homepage-tasks--card .NoTasks--text {
    font-family: 'Lato';
    font-size: 14px;
    color: #444;
}



.site-spinner {
    animation: rotate-forever 1s infinite linear;
}

@keyframes rotate-forever {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media only screen and (max-width: 600px) {
    .auth--login {
        background-position: top;
    }

    .home-container {
        padding: 2em 0.2em 5% !important;
    }

    .mieducacion-404-image {
        max-height: 120px;
    }

    #site-header #site-logo {
        max-height: 1.4em;
        max-width: 100%;
    }
}