/* Common */

.dialog .title {
    font-family: var(--mieducacion-theme-font) !important;
    padding: 8px !important;
}

.v-snack__wrapper {
    font-family: Arial, Helvetica, sans-serif;
}

/* Create course dialog */

.dialog .create-course {

    & .illustration {
        height: 180px;
        margin-top: -2em;
    }

    & .group-title {
        font-family: var(--mieducacion-theme-font) !important;
        font-weight: 500;
    }

}
