.home-container {
    background-color: #fff;
    max-width: 1150px !important;
    padding: 2em 2em 5% !important;
    padding-bottom: 0 !important;
}

#site_banner {
    background-color: #fff;
    max-width: 1150px !important;
    border-radius: .4rem;
    font-family: 'Lato', 'Jost', sans-serif;
    box-shadow: 0 8px 12px 0 rgba(69, 39, 160, 0.15), 0 0px 4px 0 rgba(69 ,39 ,160, 0.15);
}

#site_banner .v-alert__icon {
    transform: rotate(320deg);
}

img.emoji {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}