.admin-dashboard {
    width: 100%;
    padding-right: 6px;
    padding-left: 6px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

.admin-container {
    background-color: #fff;
    max-width: 1150px !important;
    border-radius: 0;
    padding: 2em 2em 5% !important;
    padding-bottom: 0 !important;
}

.admin-container > .panel {
    width: 100%;
}

.admin-container > .nav-pills {

    & .v-tab:before, .v-tabs-slider {
        background-color: var(--mieducacion-primary);
    }
    
    & .v-tab {
        font-family: var(--mieducacion-theme-font) !important;
        text-transform: none;
        font-weight: 700;
}
}

.admin-container > .nav-pills {

    & .nav-pills--active {
        color: var(--mieducacion-primary);
    }
}

.version-checks .section-title {
    flex: 1 1 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5em;
}

.version-check {
    display: flex;
    flex: 1 1 50%;
    flex-wrap: wrap;
    align-items: flex-start;
    align-self: flex-start;
    justify-content: space-between;
    padding-top: 1em;
}

.version-check .version-number {
    font-size: var(--font-up-2);
    line-height: var(--line-height-small);
    box-sizing: border-box;
    font-weight: bold;
    margin-bottom: 2em;
    margin-right: 1em;
    flex: 1 1 27%;
}

.version-check .version-number h4 {
    font-size: var(--font-down-2);
    margin-bottom: 0.5em;
}

.version-check .version-number h3 {
    flex: 1 0 auto;
    margin: 0;
    white-space: nowrap;
}

.version-check .version-number .sha-link {
    display: inline-flex;
    font-size: var(--font-down-2);
    font-weight: normal;
}

@media screen and (max-width: 850px) {
.version-check .version-status {
    max-width: unset;
}
}

.version-check .version-status {
    display: flex;
    align-items: center;
    margin: 0 0 1em 0;
    flex: 1 1 24%;
    box-sizing: border-box;
    padding-right: 20px;
    min-width: 250px;
}

.version-check .version-status .face {
    margin: 0 0.75em 0 0;
    font-size: var(--font-up-3);
}

.version-check .upgrade-header {
    flex: 1 1 100%;
}

@media screen and (max-width: 600px) {
    .admin-container {
        padding: .5em .5em 5% !important;
        margin-bottom: 1rem;
    }
      
  }