@import 'bootstrap/scss/bootstrap';
@import 'variables';
@import 'fonts';
@import 'components/header';

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: transparentize($mieducacion-primary, .9);
}

#site-header {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0
}

.separate-buttons {
    margin-left: auto;
}

.header-navs {
    padding-top: .5rem;
    padding-bottom: .5rem;
    align-self: center;
}

#site-logo {
    height: 1.8em;
    width: auto;
    align-self: center;
    margin: 0 auto;
}

.crayola-layout {
    align-content: center;
    margin-top: 3rem !important;
}

.crayola-card {
    border: 1px solid rgba(23, 23, 230, 0.2);
    background-color: #FFF;
    justify-content: center;
    border-radius: 8px;
    align-content: center;
}

.login-bg {
    background-image: url('https://freight.cargo.site/t/original/i/95912db242ea58b692884f7e3fa4d1672759ac923b071ffe8ada6d899faba337/otono-horizontal.png');
    background-position: center;
}

.welcome-title {
    font-family: var(--mieducacion-theme-font);
    font-weight: 600;
    font-size: var(--font-up-3);
    color: #222;
}

.welcome-subtitle {
    font-family: var(--mieducacion-theme-font);
    font-weight: 600;
    font-size: var(--font-up-1);
    color: #444;
}

@media (min-width: 640px) {
.form-login {
    margin: 0 auto;
    width: 640px;
}
}

@media only screen and (max-width: 768px) {
    .crayola-layout {
        margin-top: 5rem !important;
        align-content: flex-start;
    }
  }