
.courses-discover {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

.courses-container {
    background-color: #fff;
    max-width: 1150px !important;
    border-radius: 0;
    padding: 2em 2em 5% !important;
    padding-bottom: 0 !important;
}

.courses-container {
    & .title {
        font-family: var(--mieducacion-theme-font) !important;
        font-weight: 700;
        font-size: 1.3rem;
        color: #222;
        margin: 0 auto;
    }
}

.courses--no-data {

    & .illustration {
        height: 300px;
        width: auto;
    }

    & .title {
        max-width: 320px;
        font-family: var(--mieducacion-theme-font) !important;
        font-weight: 500;
        font-size: 1.2rem;
        color: #444;
    }
}


.extended-fab {
    width: auto !important;
    border-radius: 100px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .courses.extended-fab {
      font-family: var(--mieducacion-theme-font);
      font-weight: 500;
      background-color: var(--mieducacion-primary) !important;
      text-transform: none;
      z-index:100; 
      border-radius: 12px;
  }

  .courses.extended-fab.mobile {
    bottom:72px;
  }