
.courses-discover {
    width: 100%;
    padding-right: 6px;
    padding-left: 6px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

.courses-container {
    background-color: #fff;
    max-width: 1150px !important;
    border-radius: 0;
    padding: 2em 2em 5% !important;
    padding-bottom: 0 !important;
}

.courses--no-data .illustration {
    height: 300px;
    width: auto;
}

.courses--no-data .NoCoursesTitle {
    max-width: 320px;
    font-family: 'Jost';
    font-weight: 500;
    font-size: 1.2rem;
    color: #444;
}