@font-face {
	font-family: Urbanist;
	src: font-url('Urbanist-Regular.woff2');
	font-weight: 400;
}

@font-face {
	font-family: Urbanist;
	src: font-url('Urbanist-Medium.woff2');
	font-weight: 500;
}

@font-face {
	font-family: Urbanist;
	src: font-url('Urbanist-SemiBold.woff2');
	font-weight: 600;
}

@font-face {
	font-family: Urbanist;
	src: font-url('Urbanist-Bold.woff2');
	font-weight: 700;
}