.user-dashboard {
    width: 100%;
    padding-right: 6px;
    padding-left: 6px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

.user-container {
    background-color: #fff;
    max-width: 1150px !important;
    border-radius: 0;
    padding: 2em 2em 5% !important;
    padding-bottom: 0 !important;
}

.user-container > .panel {
    width: 100%;
}

.user-container > .nav-pills {

    & .v-tab:before, .v-tabs-slider {
        background-color: var(--mieducacion-primary);
    }
    
    & .v-tab {
        font-family: var(--mieducacion-theme-font) !important;
        text-transform: none;
        font-weight: 700;
}
}

.user-container > .nav-pills {

    & .nav-pills--active {
        color: var(--mieducacion-primary);
    }
}

.profile-banner .profile-avatar-section {
    display: inline-block;
    position: relative;
    text-align: center;
    color: #fff;
}

.user-recognition {

& .trusted {
    background-color: #BEE3F8 !important;
    color: #3182CE !important;
    font-family: 'Lato', var(--mieducacion-theme-font);
    font-weight: 500;

    & .v-icon {
        color: #3182CE;
    }
  }

  .moderator {
    background-color: #E9D8FD !important;
    color: #805AD5 !important;
    font-family: 'Lato', var(--mieducacion-theme-font);
    font-weight: 500;

    & .v-icon {
        color: #805AD5;
    }
  }

  .teacher {
    background-color: #FED7D7 !important;
    color: #E53E3E !important;
    font-family: 'Lato', var(--mieducacion-theme-font);
    font-weight: 500;

    & .v-icon {
        color: #E53E3E !important;
  }
 }
}