$mieducacion-primary: #4527a0;


:root {
    --mieducacion-primary: #{$mieducacion-primary};
    --mieducacion-theme-text-secondary: #333333;
    --mieducacion-theme-font: 'Urbanist';
    --mieducacion-theme-background: #EBE6F9;
    --mieducacion-banner-background: #E1D9F6;

    --mieducacion-nav-font-size: 16px;
    --mieducacion-nav-text-color: #444444;

    --body-background: rgba(243, 242, 239 , 0.95);

    --font-up-6: 2.296em;
    --font-up-5: 2em;
    --font-up-4: 1.7511em;
    --font-up-3: 1.5157em;
    --font-up-2: 1.3195em;
    --font-up-1: 1.1487em;
    --font-0: 1em;
    --font-down-1: 0.8706em;
    --font-down-2: 0.7579em;
    --font-down-3: 0.6599em;
    --font-down-4: 0.5745em;
    --font-down-5: 0.5em;
    --font-down-6: 0.4355em;
    --font-up-3-rem: 1.5157rem;
    --font-up-2-rem: 1.3195rem;
    --font-up-1-rem: 1.1487rem;
    --font-0-rem: 1rem;
    --font-down-1-rem: 0.8706rem;
    --font-down-2-rem: 0.7579rem;
    --font-size-ios-input: 1.07em;
    --line-height-small: 1;
    --line-height-medium: 1.2;
    --line-height-large: 1.4;

}
