<div class="wizard-column">
   <div class="wizard-column-contents">
      <div class="wizard-step-contents">
         <h1 class="wizard-step-title text-center mx-auto">Site information</h1>
         <div class="mx-auto text-center">
         <%= image_tag "illustrations/mieducacion-wizard-site-info.png", class: "welcome-banner--img", width: 280, :draggable => false %>
         </div>

        <h1 class="wizard-step-text text-center mx-auto pt-5">
        What will the identity of your new site look like?
        </h1>
        

      <div class="text-center d-grid gap-2 cols-6">
        <%= form_for @site_info, url: wizard_path, method: :put do |f| %>
        <div class="mb-3">
         <%= f.label :sitename, "Site name", :class => "form-label" %>
         <input type="text" name="site_name" class="form-control" id="sitename" placeholder="MiEducacion">
        </div>
         <button type="submit" class="btn btn-dark mt-4">Next</button>
         <% end %>
         </div>
      </div>
   </div>
   <div class="wizard-footer">
      <div class="mieducacion-logo">
         <%= image_tag Settings::General.site_logo, id: "site-logo" %>
      </div>
   </div>
</div>