.home-container {
    background-color: #fff;
    max-width: 1150px !important;
    border-radius: 1em;
    padding: 2em 2em 5% !important;
    padding-bottom: 0 !important;
    box-shadow: 0 8px 60px 0 rgba(69, 39, 160, 0.15), 0 12px 90px 0 rgba(69 ,39 ,160, 0.15);
}

